@value makerGreen from "../../common/colors.css";

.button {
  padding: 0.5em;
  font-weight: bold;
  border-right: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  width: 50%;
  background: makerGreen;
  color: white;
}
