@value mediaQuery from "../../common/size.css";

.home {
  flex-grow: 1;
  display: flex;
  padding-top: 8.5rem;
}

@media screen and (max-width: mediaQuery) {
  .home {
    flex-direction: column;
  }
}
