@value makerShadow, makerColorful, makerWheat from "../../common/colors.css";

.card {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  border-radius: 1em;
  padding: 1.5em;
  box-shadow: 0.7rem 0.7rem 1rem makerShadow;
  width: 70%;
}

.card.dark {
  background: black;
}

.card.colorful {
  background: makerColorful;
}

.card.light {
  background: makerWheat;
  color: black;
}

.avatar {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.info > * {
  word-wrap: break-word;
}

.company {
  margin: 0.3em 0;
}

.company::after {
  content: "";
  background: white;
  display: block;
  height: 0.2rem;
  margin-top: 0.3em;
  width: 90%;
}

.email {
  margin: 0.3em 0 2em 0;
}

.message {
  line-height: calc(1em + 0.5rem);
}
