/* @value makerGreen from "/common/colors.css"; REVIEW */
@value makerGreen from "../../common/colors.css";
@value mediaQuery from "../../common/size.css";

header {
  background: makerGreen;
  text-align: center;
  color: white;
  padding: 1.5em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  flex-direction: column;
  gap: 0.5em;
}

.big {
  gap: 1em;
}

.small .logo {
  width: 10%;
}

.big .logo {
  width: 3em;
}

.logout {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.5em 1em;
  border: 0.2rem solid white;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
}

.logout:hover {
  background: white;
  color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  .big .title {
    font-size: 2.5rem;
  }

  .logout {
    font-size: 1.2rem;
    right: 1em;
    top: 1em;
  }
}
