@value makerGreen from "../../common/colors.css";
@value mediaQuery from "../../common/size.css";

section {
  flex-grow: 1; /* to set 50% for each */
  padding: 1em;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  section {
    border-right: none;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}
