@value makerGreen from "../../common/colors.css";
@value mediaQuery from "../../common/size.css";

.wrapper {
  width: 48rem;
  position: relative;
  background: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.error {
  color: rgb(210, 0, 0);
  margin-top: 1em;
  display: none;
}

.services {
  width: 100%;
  margin-top: 1.5em;
}

.google,
.github {
  width: 100%;
  border: 0.25rem solid makerGreen;
  border-radius: 2rem;
  font-size: 1.8rem;
  padding: 0.5em 0;
  transition: all 0.1s ease-in-out;
}

.google {
  margin-bottom: 0.625em;
}

.google:hover,
.github:hover {
  background: makerGreen;
  color: white;
}

@media screen and (max-width: mediaQuery) {
  .wrapper {
    width: 40rem;
  }
}
