@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

input,
button {
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

#root {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 100vh;
}
