.label {
  padding: 0.5em;
  font-weight: bold;
  border-right: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  width: 50%;
  cursor: pointer;
  text-align: center;
}

.label svg {
  fill: white;
  width: 1em;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.gray {
  background: lightgray;
}

.pink {
  background: pink;
}

.input {
  display: none;
}
